$primary:"darkblue";
$secondary:#f4f4f4;
@import '../node_modules//bootstrap/scss/bootstrap.scss';
@import 'styles';
$utilities:() !default;
$utilities:map-merge(
    (
'input-pading' : (
property:padding,
class:ip,
values:(
    0:0,
    1:0.3rem,
    2:0.7rem,
    3:0.09rem,
)

),



    ),
    $utilities
);
